
.about__content-inner{
    padding: 40px 0 100px;
    display: flex;
    @media (max-width: 640px) {
        flex-wrap: wrap;
        padding-bottom: 50px;
    }
    .about__title,
    .about__text{
        text-align: left;
        @media (max-width: 640px) {
            text-align: center;
            margin: 0 auto;
        }
    }
    .left__content + .right__content{
        margin-left: 20px;
        @media (max-width: 640px) {
            margin-left: 0;
            margin-top: 30px;
        }
    }
    .left__image,
    .right__image{
        width: 100%;
        margin-bottom: 50px;
    }
    .about__text{
        margin-top: 30px;
        max-width: 500px;
    }
}