.breadcrumbs__inner{
    color: $secondary_font-color;
    padding: 30px 10px;
    .braedcrumbs__list{
        font-size: 12px;
        li{
            position: relative;
            display: inline-block;
            & + li{
                margin-left: 30px;
                &::before{
                    position: absolute;
                    left: -18px;
                    content: '/';
                }
            }
        }
    }
}