//Container's main options (used for all div with class 'container'!
.container{ /*Contain common container's options: max-width, padding etc...*/
    max-width: 1244px;
    margin: 0 auto;
    background-color: #fff;
    font-family: $main_font;
    padding: 0px 22px;
    .inner{
        margin: 0px 10px;
    }
}

//Header yellow button
.header__main-btn{
    background-color: $btn_color;
    color: #fff;
    padding: 10px 20px;
    @media (max-width: 820px){
        padding: 10px 15px;
    }
}
//Header yellow button

// All midle size title and subtitle options
.middle__size-title{
    font-family: $main_font;
    color: $main_font-color;
    font-size: $L-title_font-size;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-transform: uppercase;
    @media (max-width:770px){
        font-size: $M-title_font-size;
    }
    @media (max-width:540px){
        line-height: 26px;
        font-size: $S-title_font-size;
    }
}
.middle__size-subtitle{
    font-family: $secondary_font;
    font-style: italic;
    font-size: 1.125em;
    line-height: 3.375em;
    text-align: center;
    color: $main_font-color;
    @media (max-width:770px){
        font-size: $main_font-size; 
        line-height: 24px;

    }
    @media (max-width:540px){
        font-size: 0.875em; 
        line-height: 20px;
    }
}
// All midle size title and subtitle options

// All small size title and subtitle options
.small__size-title{
    font-family: $main_font;
    color: $main_font-color;
    font-size: $M-title_font-size;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-transform: uppercase;
    @media (max-width:670px){
        font-size: $S-title_font-size;
        line-height: 20px;
    }
}
// All small size title and subtitle options

//Main paragraph option
.common__text-opt{
    font-size: $header-footer_font-size;
    color: $main-text-color;
    line-height: 24px;
}
//Main paragraph option
