//Container's main options (used for all div with class 'container'!
/*Contain common container's options: max-width, padding etc...*/
.container{
    max-width: 1244px;
    margin: 0 auto;
    background-color: #fff;
    font-family: $main_font;
    padding: 0px 22px;
    .inner{
        margin: 0px 10px;
    }
}
/*All buttons CSS*/
button{ 
    background-color: $btn_color;
    border: 1px solid $btn_border-color;
    color: #fff;
    text-transform: uppercase;
}
// All midle size title and subtitle options
.middle__size-title{
    font-family: $main_font;
    color: $main_font-color;
    font-size: $L-title_font-size;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-transform: uppercase;
    padding-top: 40px;
    @media (max-width:770px){
        font-size: $M-title_font-size;
    }
    @media (max-width:540px){
        line-height: 26px;
        font-size: $S-title_font-size;
    }
}
.middle__size-subtitle{
    font-family: $secondary_font;
    font-style: italic;
    font-size: 1.125em;
    line-height: 3.375em;
    text-align: center;
    color: $main_font-color;
    @media (max-width:770px){
        font-size: $main_font-size; 
        line-height: 24px;

    }
    @media (max-width:540px){
        font-size: 0.875em; 
        line-height: 20px;
    }
    a{ /*Used on all categoy page above title */
        text-decoration: underline;
        color: $main-text-color;
        position: relative;
        &::after{
            content: '▼';
            font-size: 6px;
            top: -18px;
            right: -10px;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(145deg);
            position: absolute;
        }
    }
}
// All midle size title and subtitle options

// All small size title and subtitle options
.small__size-title{
    font-family: $main_font;
    color: $main_font-color;
    font-size: $M-title_font-size;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-transform: uppercase;
    @media (max-width:670px){
        font-size: $S-title_font-size;
        line-height: 20px;
    }
}
// All small size title and subtitle options

//Common text options
.common__text-opt{
    font-size: $header-footer_font-size;
    color: $main-text-color;
    line-height: 24px;
}
//Common text options

//Item options
.items__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0px 100px;
    .item__inner{
        @include main-box-shadow;
        width: 100%;
        text-align: center;
        max-width: 208px;
        margin: 0px 20px 40px 20px;
        transition: all 2s;
        margin-left: 40px;
        img{
            width: 100%;
        }
        .item__name{
            line-height: 28px;
            margin-top: 10px;
            font-size: 14px;
        }
        .item__price{
            line-height: 2em;
        }
        @media (max-width: 690px) { 
        }
    }
    @media (max-width: 690px) {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 30px 0px 50px;
        
    }
}
//Item options