.filter__form-inner{
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    .select__items-inner{
        border-bottom: 1px solid;
        padding-bottom: 5px;
        width: 185px;
        position: relative;
        &:after {
            content: "";
            background-image: url(../images/icons/select-triangle.png);
            position: absolute;
            width: 11px;
            height: 6px;
            right: 4px;
            top: 5px;
            pointer-events: none;
        }
        & + .select__items-inner{
            margin-left: 20px;
        }
    }
    .rotatetriangle{
        &::after{
            transform: rotate(180deg);
        }
    }
    .price__select-inner{
        position: relative;
        .select__option-inner{
            position: absolute;
            @include main-box-shadow;
            top: 22px;
            width: 100%;
            background-color: #fff;
            display: none;
            .select__option{
                padding: 20px 10px 10px 10px;  
                cursor: pointer;
            }
        }
    }

}